.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;

    margin: 0;
    width: 100%;

    /* border: 1px yellow solid; */
}
.content-lixhult {
    display: flex;
    flex-direction: column;

    margin-top: 38vh;

    color: #B3B3B3;

    /* border: 1px red solid; */
}
.content-lixhult > h2 {
    font-size: 1.6em;
}
.content-lixhult-info {
    display: flex;

    margin-top: 30px;
    /* border: 1px blue solid; */
}

.content-lixhult-button {
    margin-bottom: 15px;
    margin-left: auto;

    align-self: flex-end;
    justify-self: flex-end;
    /* border: 1px blue solid; */
}
.content-lixhult-info > img {
    margin-right: 7px;
}

.assemble-button {
    background-color: rgba(90, 90, 90, 0.50); /* HEX: #5A5A5A */
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 2px #3a3a3a;
    color: white;
    height: 50px;
    width: 150px;
    padding: 15px 50px 15px 50px;

    font-size: 0.9em;
    text-decoration: none;

    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.assemble-button::after {
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.assemble-button:hover {
    /* margin-top: 5px; */
    background-color: rgba(90, 90, 90, 0.80);
}
