html {
  height: 100%;
}
body {
    background: url(../assets/images/main-background-original.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
* {
  /* border: solid red 2px; */
  /* color: #E8D4C5; */
}

.main-container {
  min-height: 100%; /* NOT CLEAN CODE */
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px 1fr auto;
  /* height: 100%; */
  padding: 0% 3% 0% 3%; /*TRBL*/
  /* margin-top: 3%; */

  /* border: solid red 2px; */
}

.main-nav-title {
  align-self: center;
}
.main-nav-logo {
  align-self: center;
  justify-self: center;
}
.main-nav-search {
  align-self: center;
  justify-self: flex-end;
}

/* SIDE-MENU */
.side-menu {
  font-size: .8em;
  font-weight: 400;
  color: #585858 !important;

  align-self: center;
}
.side-menu > * {
  margin-bottom: 25px;
}
.side-menu-about {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-menu-about::after {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-menu-about:hover {
  margin-left: 10px;
}
.side-menu-contact {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-menu-contact::after {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-menu-contact:hover {
  margin-left: 10px;
}

/* FOOTER */
footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  align-self: flex-end;

  font-family: 'Hurme-Geometric-Sans';
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  color: #585858 !important;

  padding-bottom: 2%;
}
.footer-container {
  display: flex;
  align-items: flex-end;

  /* border: 1px blue solid; */
}
.footer-sns {
  margin-left: auto;
}
#footer-simple-furniture {
  font-weight: 600 !important;
  margin: 0;
  padding: 0;
}
