/*GLOBAL / SHARED CSS MODULES*/

body {
    font-family: 'Gotham';
    height: 100%;
    /* border: solid blue 2px; */
    margin: 0;
    color: #8C8B8B;
    /* padding: 3%; */
}

h1 {
    font-size: 5.5em;
    font-weight: 600;
    margin: 0;
    line-height: .7em;
}
h2 {
    font-family: 'Hurme-Geometric-Sans';
    font-size: 2em;
    font-weight: normal;
    margin: 10px 0px 10px 0px;
}
p {
    font-family: 'Gotham';
    font-size: 0.8em;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/*ICON HOVERS*/
/*subtle left*/
.icon-hover-01 {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-01::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-01:hover {
    margin-left: 5px;
}

/*subtle bigger*/
.icon-hover-02 {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-02::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-02:hover {
    transform: scale(1.25);
}

/*subtle rotate + bigger*/
.icon-hover-03 {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-03::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-03:hover {
    transform: rotate(360deg) scale(1.25);
}

/* MODULAR - HIDE & APPEAR */
.hide-fade {
    opacity: 0;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hide-gone {
    display: none;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.test-scale {
    transform: scale(1.1);
    opacity: .5;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.appear-fade {
    opacity: 1;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
