html {
  height: 100%;
}

body {
    background-image: url(../../../assets/images/lixhult/final/lixhult_final-01.jpg);

    background-repeat: no-repeat;
    background-position: 0px 50%; /* horizontal vertical */
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

* {
  /* border: solid red 2px; */
  /* color: #E8D4C5; */
}

body {
  font-family: 'Gotham';
  height: 100%;
  /* border: solid blue 2px; */
  margin: 0;
  color: #8C8B8B;
  /* padding: 3%; */
}

h1 {
  font-size: 5.5em;
  font-weight: 600;
  margin: 0;
  line-height: .7em;
}
h2 {
  font-family: 'Hurme-Geometric-Sans';
  font-size: 3.2em;
  font-weight: normal;
  margin: 0;
}
p {
  font-size: 0.8em;
  margin: 0;
}

.main-container {
  min-height: 100%; /* NOT CLEAN CODE */
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px 1fr auto;
  /* height: 100%; */
  padding: 0% 3% 0% 3%; /*TRBL*/
  /* margin-top: 3%; */

  /* border: solid red 2px; */
}

.main-nav-title {
  align-self: center;
}
.main-nav-logo {
  align-self: center;
  justify-self: center;
}
.main-nav-search {
  align-self: center;
  justify-self: flex-end;
}
.side-menu {
  font-size: .8em;
  font-weight: 400;
  color: #585858 !important;

  display: flex;
  flex-direction: column;

  align-self: center;
}
.side-menu > * {
  margin-bottom: 25px;
}

/* FOOTER */
footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  align-self: flex-end;

  font-family: 'Hurme-Geometric-Sans';
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  color: #585858 !important;

  padding-bottom: 2%;
}
.footer-container {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: flex-end;

    /* FLEXBOX INSIDE A CSS-GRID, INSIDE A CSS-GRID */
    display: flex;
    flex-direction: column;

    font-size: 1.2em;

    min-height: 150px;
    max-width: 24vw;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;

    background-color: rgba(90, 90, 90, .4);
    color: white;
}
#footer-container-complete {
    font-weight: 200;
}
#footer-container-complete-p {
    margin-top: 10px;
    font-weight: 600;
}
.footer-sns {
  margin-left: auto;
}


/*image transition on hover*/
