:root {
    --odger-image-01: url("../../assets/images/odger/odger_step_01_10.jpg");
    --odger-image-02: url("../../assets/images/odger/odger_step_02_10.jpg");
    --odger-image-03: url("../../assets/images/odger/odger_step_03_10.jpg");
    --odger-image-04: url("../../assets/images/odger/odger_step_04_10.jpg");
    --odger-image-05: url("../../assets/images/odger/odger_step_05_10.jpg");

    --odger-image-current: url("../../assets/images/odger/odger_step_01_10.jpg");
    --odger-image-position: "0px 0px";
}

html {
    height: 100%;
}

body {
    /* IF SVG DOESN'T WORK, CHECK THIS: https://css-tricks.com/forums/topic/svg-css-background-image-not-showing-in-chrome/ */
    background-image: url("../../assets/images/odger/odger_step_01_10.jpg"),
    url("../../assets/images/odger/odger_step_02_10.jpg"),
    url("../../assets/images/odger/odger_step_03_10.jpg"),
    url("../../assets/images/odger/odger_step_04_10.jpg"),
    url("../../assets/images/odger/odger_step_05_10.jpg"),
    url("../../assets/images/odger/odger_step_06_10.jpg");

    background-repeat: no-repeat;
    background-position: var(--odger-image-position);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #E8D4C5;
}

.main-container {
    min-height: 100%; /* NOT CLEAN CODE */
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px 1fr auto;
    padding: 0% 3% 0% 3%; /*TRBL*/
}

.main-nav-title {
    align-self: center;
}
.main-nav-logo {
    align-self: center;
    justify-self: center;
}
.main-nav-search {
    align-self: center;
    justify-self: flex-end;
}

.side-menu {
    display: flex;
    align-items: center;

    font-size: .8em;
    font-weight: 400;
    color: #585858;

    align-items: center;
}
.side-menu > * {
    margin-bottom: 25px;

    /* border: solid red 2px; */
}

.side-menu-back-button {
    margin-left: -20px;
    opacity: 0;
    color: #E8D4C5;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-menu-back-button::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-menu-back-arrow:hover ~ .side-menu-back-button {
    margin-left: -15px;
    opacity: 1;
}

/* FOOTER */
footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    align-self: flex-end;

    /* GRID INSIDE GRID */
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    font-family: 'Hurme-Geometric-Sans';
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    color: #585858 !important;

    padding-bottom: 2%;
}

.footer-container {
    grid-column: 1 / 2;

    display: flex;
    align-items: center;
}

/* FOOTER INSTRUCTION */
.footer-content-instruction {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: flex-end;
    color: white !important;

    /* FLEXBOX INSIDE A CSS-GRID, INSIDE A CSS-GRID */
    display: flex;
    flex-direction: column;

    font-size: 1.2em;

    min-height: 120px;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;

}


.footer-content-instruction-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    font-weight: 400;

    margin-top: auto;
}
#footer-instruction-step-02 {
    margin-top: 10px;
    font-weight: 600;
}
progress {
    height: 4px;
    min-width: 450px;
    -webkit-appearance: none;
    border: none;

    margin: 0px 30px 0px 30px;
}
progress::-webkit-progress-bar {
    background: rgba(173, 173, 173, 0.2);
    border-radius: 50px;

}
progress::-webkit-progress-value {
    border-radius: 50px;
    background: white;
}

#footer-instruction {
    opacity: 0.3;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#footer-instruction::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#footer-instruction:hover {
    opacity: 1;
}

#footer-instruction-text {
    opacity: 0;
    margin-left: 10px;
    font-weight: 600;
    color: #E8D4C5;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#footer-instruction-text {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#footer-instruction:hover ~ #footer-instruction-text {
    opacity: 1;
    margin-left: 15px;
}

/*BLUR / OPACITY*/
.blur {
    position: relative;
    background: hsla(0, 0%, 10%, .22);
    /* box-shadow: 5px 3px 30px black; */
    overflow: hidden;
}
.content > .blur {
    position: relative;
    background: hsla(0, 5%, 10%, .42);
    /* box-shadow: 5px 3px 30px black; */
    overflow: hidden;
}
.blur::before {
    /*background-image: inherit;*/
    background-image: var(--odger-image-current);
    background-repeat: no-repeat;
    background-position: var(--odger-image-position);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    content: '';
    margin: -25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(10px);
    z-index: -1;
}
