.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh 50px;
  justify-items: center;
  align-items: flex-end;

  margin: 0;
  width: 100%;

  /* border: 1px yellow solid; */
}

.content-lixhult-button {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  padding: 5px 20px 5px 20px;
  border-radius: 30px;

  /*Delete this later*/
  background-color: rgba(90, 90, 90, .50); /* #5A5A5A */
}

.drag_item {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: #EAEAEA;

  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.drag_item::after {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.drag_item:hover {
  transform: scale(1.25);
  box-shadow: 0px 0px 10px #a3a3a3;
}
#info-drag-to-start {
  color: #EAEAEA;
}
.container {
  height: 4px;
  width: 4px;
  background-color: #EAEAEA;
  background-clip: padding-box;
  border: 20px solid rgba(234, 234, 234, 0.0);
  border-radius: 5px;
}
.container-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EAEAEA;

  height: 25px;
  width: 25px;
  border: solid #EAEAEA 2px;
  border-radius: 17.5px;
}
